<!-- for header -->

<div [ngClass]="{'sticky': isSticky}" class="header max-md:hidden fixed  w-full flex justify-between items-center px-20 ">
    <div class="img">
        <img src="https://www.skilpil.com/images/logo.png" class="w-[100px]" alt="">
    </div>
    <div class="header-container flex justify-between items-center">
        <a class="mx-4 text-black font-bold" href="#home">Home</a>
        <a class="mx-4 text-black font-bold" href="#about">About Us</a>
        <a class="mx-4 text-black font-bold" href="#course">Courses</a>
        <a class="mx-4 text-black font-bold" href="#home">Back To Exampil</a>
        <button class="custom-bg-color text-white font-bold py-2 px-4 ">
            99930552237
        </button>

    </div>
</div>

<!-- for responsive header -->
<div  class="header hidden sticky  w-full max-md:block justify-between items-center px-10 ">
    <div class="img flex justify-between w-full items-center ">
        <img src="https://www.skilpil.com/images/logo.png" class="w-[100px]" alt="">
        <i (click)="toggleClassName()" class="fa-solid fa-bars" style="color: #000000;"></i>
    </div>
    <div [class]="className" class="header-container  flex-col justify-between  gap-10 py-10 items-center">
        <a class="mx-4 text-black font-bold" href="#home">Home</a>
        <a class="mx-4 text-black font-bold" href="#about">About Us</a>
        <a class="mx-4 text-black font-bold" href="#course">Courses</a>
        <a class="mx-4 text-black font-bold" href="#home">Back To Exampil</a>
        <button class="custom-bg-color text-white font-bold py-2 px-4 ">
            99930552237
        </button>

    </div>
</div>


<!-- for  header bottom body -->


<div [@fadeInAnimation] id="home" class="header-bottom-body flex flex-col ">
    <div class="container-title mt-48 mx-6 md:mx-20  ">
        <h1 class="w-[13rem] text-white  font-bold text-5xl">Bringing Industry closer to Institutions.</h1> <br>
        <span class=" text-white  mt-40  text-sm">Mastering the skill,with India's best Industry Experts.</span> <br>
        <br>
        <button class="custom-bg-color text-white font-bold py-2 px-4 ">
            Call Us Now
        </button>
    </div>

</div>

<!-- body container -->

<div class="body-course w-full text-center">
    <h1 class="text-3xl font-bold mt-20 ">Explore Our Courses</h1>
    <span class="text-xl">The future belongs to those who learn more skills and combine them in creative ways.</span>

    <div id="course" class="course-container flex flex-wrap  mx-10 justify-between">
        <div  *ngFor="let course of courses" class="flex flex-col items-start mt-10 mx-auto  w-[25rem]">
            <img class="rounded-2xl" [src]="course.image" alt="">
            <p class="font-bold m-2">{{ course.title }}</p>
            <span class="m-2">{{ course.duration }}</span>
            <button class="custom-bg-color text-white w-36 font-bold m-2 py-2 px-4 ">
                Contact Now
            </button>
        </div>
    </div>

    <div class="counter-container  md:flex justify-around gap-8 w-full mt-10 py-10  text-white font-bold h-fit ">
        <div class="mt-6 text-2xl">
            <p>100+</p>
            <p> WORKSHOPS</p>
        </div>
        <div class="mt-6 text-2xl">
            <p>3786+</p>
            <p>CERTIFICATIONS</p>
        </div>
        <div class="mt-6 text-2xl">
            <p>20+</p>
            <p>AWARDS</p>
        </div>
        <div class="mt-6 text-2xl">
            <p>20+</p>
            <p>COURSES</p>
        </div>
    </div>

    <!-- about container  -->

    <div  id="about" class="about-container">
        <div class="">
            <img src="https://www.skilpil.com/images/img/img-1.jpg" class="  w-[500px]   " alt="">
        </div>
        <div class="heading  flex flex-col gap-10 mx-4 font-bold  md:w-[350px]">
            <h2 class="text-5xl text-left">
                We Pride Ourselves On Making Education AFFORDABLE AND ACCESSIBLE.
            </h2>
            <button class="custom-bg-color text-white w-36 font-bold m-2 py-2 px-4 ">
                Learn More
            </button>
        </div>
    </div>
    <div class="about-container mt-20">

        <div class="heading  flex flex-col gap-10 mx-4  md:w-[350px]">
            <h2 class="text-4xl text-left font-bold">
                We Make Every Skill Learning Easy
            </h2>
            <p class="text-left">Build your skills not your resume.Nobody ever mastered any skill except through
                intensive persistent and intelligent practice.</p>
                <p class="text-left" ><i class="fa-solid fa-check" style="color: #ff2424;"></i> Best Industry Expert. </p>
                <p class="text-left"><i class="fa-solid fa-check" style="color: #ff2424;"></i> Affordability and accessibility. </p>
                <p class="text-left"><i class="fa-solid fa-check" style="color: #ff2424;"></i> Jon offers for best performers. </p>
            <button class="custom-bg-color text-white w-36 font-bold m-2 py-2 px-4 ">
                Learn More
            </button>
        </div>
        <div class="">
            <img src="https://www.skilpil.com/images/img/img-2.jpg" class="  w-[500px]   " alt="">
        </div>
    </div>

    <!-- contact page -->

    <div class="contact-page flex flex-col items-center justify-center  text-center text-white mt-10 py-10">
        <h1 class="text-4xl w-[70%] gap-10 ">Asking The Right Questions Takes As Much Skill As Giving The Right Answers.
        </h1>
        <span class="mt-10">Get 24*7 Support and guidance from the Industry Experts.</span>
        <button class="custom-bg-color text-white font-bold mt-10 py-2 px-4 ">
            Contact Us Now
        </button>
    </div>

    <!-- testimonial -->

    <div class="testimonial flex flex-col items-center justify-center  text-center text-white py-10 bg-pink-900">
        <h1 class="text-4xl m-10">Testimonial</h1>
        <div class="w-full md:w-[700px] bg-white py-6 rounded-2xl m-10  ">
            <img src="https://www.skilpil.com/images/review/review-5.jpeg" class="w-[300px] mx-auto my-auto rounded-2xl"
                alt="">
        </div>
        <div class="circle">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

    <!-- background attachment -->

    <div class="background-attachment flex justify-center items-center py-32">
          <div class="flex flex-wrap justify-around text-white">
            <h1 class="text-4xl w-[70%]">“The Future Belongs To Those Who Learn More Skills And Combine Them In Creative Ways.”</h1>
            <button class="custom-bg-color text-white font-bold w-[150px] h-[60px] mt-10 py-2 px-4 ">
                Learn More
            </button>
          </div>
    </div>

    <!-- quotation -->

    <div class="quotation heading  py-10">
        <h2>Get The Quotation Over Mail</h2>
        <p>Limited time offer for this month.</p>

        <div class="input-handler">
            <input type="text" placeholder="Email Address here">
            <button class="custom-bg-color text-white font-bold  py-2 px-4 ">
                Get Quotation
            </button>
        </div>
    </div>


    <!-- footer -->

    <div class="footer bg-pink-900 items-center justify-center py-10">
        <div class=" mx-auto flex flex-wrap justify-around items-center ">
            <a class=" text-white font-bold" href="#about">About Us</a>
            <a class=" text-white font-bold" href="#course">Courses</a>
            <a class=" text-white font-bold" href="#home">Back To Exampil</a>
            <a class=" text-white font-bold ">
                Connect with us :- +91 99930552237
            </a>
        </div>
        <div class=" w-[300px] mx-auto flex flex-wrap justify-around items-center ">
            <a class=" mt-4 text-white font-bold text-2xl" href=""> <i class="fa-brands fa-facebook"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-twitter"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-youtube"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>

        </div>
        <div>
            <p class=" text-white font-bold mt-4">&copy; 2022. SkillPill. All rights reserved.</p>
        </div>

    </div>
</div>