
@mixin backgroundImg ($url,$repeat,$position,$size,$width,$height){
    background-image: url($url)  ;
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
    width: $width;
    height: $height;
}

.header{
    transition: background-color 0.3s ease;
}

.header.sticky{
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: white;
}

.custom-bg-color {
    background-color: #8d3462;
    border: 2px solid #8d3462;
    transition: all 0.3s;
}

.custom-bg-color:hover {
    background-color: transparent;
    color: #8d3462;
}

.header-bottom-body{
    @include backgroundImg("https://cdn.pixabay.com/photo/2017/07/27/17/09/view-2546021_640.png",no-repeat ,center , cover,100% ,700px );
}


.course-container{
    & span{
        color: #555;
    }
}

.counter-container{
    background-color: #421e42;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;

}

.heading {
    & h2{
        color: #43121d;
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 400;
    }
    & p {
       color: #555;
    }
}


.contact-page{
    @include backgroundImg("https://www.skilpil.com/images/bg/bg-2.jpg",no-repeat ,center , cover,100% ,fit-content )
}

.circle{
    display:  flex;
    justify-content: space-around;
    width: 100px;
    & div{
        width: 20px;
        height: 20px;
        background-color: rgb(229, 130, 146);
        border-radius: 100%;
        opacity: 0.5;
    }
}


.input-handler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    // border: 2px solid #421e42;
    padding: 0;
}

.input-handler > input{
    border: 2px solid #421e42;
    width: 300px;
    height: 40px;
    text-align: center;
}

.background-attachment{
    @include backgroundImg("https://www.skilpil.com/images/bg/bg-3.jpg",no-repeat ,center , cover,100% ,fit-content );
     background-attachment: fixed;
}