
    <!-- contact page -->

    <div class="contact-page flex flex-col items-center justify-center  text-center text-white mt-28 py-10">
        <h1 class="text-4xl w-[70%] gap-10 ">Asking The Right Questions Takes As Much Skill As Giving The Right Answers.
        </h1>
        <span class="mt-10">Get 24*7 Support and guidance from the Industry Experts.</span>
        <button class="custom-bg-color text-white font-bold mt-10 py-2 px-4 ">
            Contact Us Now
        </button>
    </div>

    <!-- testimonial -->

    <div class="testimonial flex flex-col items-center justify-center  text-center text-white py-10 bg-pink-900">
        <h1 class="text-4xl m-10">Testimonial</h1>
        <div class="w-full md:w-[700px] bg-white py-6 rounded-2xl m-10  ">
            <img src="https://www.skilpil.com/images/review/review-5.jpeg" class="w-[300px] mx-auto my-auto rounded-2xl"
                alt="">
        </div>
        <div class="circle">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

    <!-- background attachment -->

    <div class="background-attachment flex justify-center items-center py-32">
          <div class="flex flex-wrap justify-around text-white">
            <h1 class="text-4xl w-[70%]">“The Future Belongs To Those Who Learn More Skills And Combine Them In Creative Ways.”</h1>
            <button class="custom-bg-color text-white font-bold w-[150px] h-[60px] mt-10 py-2 px-4 ">
                Learn More
            </button>
          </div>
    </div>

    <!-- quotation -->

    <div class="quotation heading text-center  py-10">
        <h2>Get The Quotation Over Mail</h2>
        <p>Limited time offer for this month.</p>

        <div class="input-handler">
            <input type="text" placeholder="Email Address here">
            <button class="custom-bg-color text-white font-bold  py-2 px-4 ">
                Get Quotation
            </button>
        </div>
    </div>