<div class="counter-container text-center  md:flex justify-around gap-8 w-full  py-10  text-white font-bold h-fit ">
    <div class="mt-6 text-2xl">
        <p>100+</p>
        <p> WORKSHOPS</p>
    </div>
    <div class="mt-6 text-2xl">
        <p>3786+</p>
        <p>CERTIFICATIONS</p>
    </div>
    <div class="mt-6 text-2xl">
        <p>20+</p>
        <p>AWARDS</p>
    </div>
    <div class="mt-6 text-2xl">
        <p>20+</p>
        <p>COURSES</p>
    </div>
</div>

<!-- about container  -->

<div  id="about" class="about-container flex flex-wrap justify-around">
    <div class="">
        <img src="https://www.skilpil.com/images/img/img-1.jpg" class="  w-[500px]   " alt="">
    </div>
    <div class="heading  flex flex-col gap-10 mx-4 font-bold  md:w-[350px]">
        <h2 class="text-5xl text-left">
            We Pride Ourselves On Making Education Affordable And Accessible.
        </h2>
        <button class="custom-bg-color text-white w-36 font-bold m-2 py-2 px-4 ">
            Learn More
        </button>
    </div>
</div>
<div class="about-container flex flex-wrap justify-around mt-20 mb-20">

    <div class="heading  flex flex-col gap-10 mx-4  md:w-[350px]">
        <h2 class="text-4xl text-left font-bold">
            We Make Every Skill Learning Easy
        </h2>
        <p class="text-left">Build your skills not your resume.Nobody ever mastered any skill except through
            intensive persistent and intelligent practice.</p>
            <p class="text-left" ><i class="fa-solid fa-check" style="color: #ff2424;"></i> Best Industry Expert. </p>
            <p class="text-left"><i class="fa-solid fa-check" style="color: #ff2424;"></i> Affordability and accessibility. </p>
            <p class="text-left"><i class="fa-solid fa-check" style="color: #ff2424;"></i> Jon offers for best performers. </p>
        <button class="custom-bg-color text-white w-36 font-bold m-2 py-2 px-4 ">
            Learn More
        </button>
    </div>
    <div class="">
        <img src="https://www.skilpil.com/images/img/img-2.jpg" class="  w-[500px]   " alt="">
    </div>
</div>
