<div [@fadeInAnimation] id="home" class="header-bottom-body flex flex-col ">
    <div class="container-title mt-48 mx-6 md:mx-20  ">
        <h1 class="w-[13rem] text-white  font-bold text-5xl">Bringing Industry closer to Institutions.</h1> <br>
        <span class=" text-white  mt-40  text-sm">Mastering the skill,with India's best Industry Experts.</span> <br>
        <br>
        <button class="custom-bg-color text-white font-bold py-2 px-4 ">
            Call Us Now
        </button>
    </div>

</div>

<div class="w-[100%] overflow-hidden mt-20">
    <h1 class="text-4xl text-[#555] text-center my-10">All New Trending Courses</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let banner of banners">
            <ng-template carouselSlide [id]="banner.priorityId">
                <img class=" px-10 w-[600px] m-20  h-[400px]" [src]="banner.bannerUrl">
                <p class="text-center text-2xl">{{banner.title}}</p>
                <p class="text-center text-2xl">{{banner.description}}</p>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="w-[100%] overflow-hidden mt-20">
    <h1 class="text-4xl text-[#555] text-center my-10">Most liked by people</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let banner of banners">
            <ng-template carouselSlide [id]="banner.priorityId">
                <img class=" px-10 w-[600px] m-20  h-[400px]" [src]="banner.bannerUrl">
                <p class="text-center text-2xl">{{banner.title}}</p>
                <p class="text-center text-2xl">{{banner.description}}</p>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="w-[100%] overflow-hidden my-20">
    <h1 class="text-4xl text-[#555] text-center my-12">Customers reviews</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let customer of customers">
            <ng-template  carouselSlide [id]="customer.id">
               <div class="px-10  text-center flex flex-col items-center justify-center">
                <img class="  w-[300px] m-20  h-[200px]" [src]="customer.customerUrl">
                <p class="text-center mx-auto my-10 text-2xl">Name :{{customer.name}}</p>
                <p class="text-center text-[#555] text-sm"> Review : {{customer.review}}</p>
               </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>