<div [@fadeInAnimation] id="home" class="header-bottom-bdy flex flex-col w-[100%] mt-28   ">
    <owl-carousel-o  [options]="mainBannerOptions">

        <ng-container class="text-center" *ngFor="let banner of mainBanner">
            <ng-template carouselSlide [id]="banner.id">
                <div class="flex flex-col justify-center items-center h-fit    ">

                    <div class=" w-full px-3 flex flex-col justify-center items-center">
                        <img class=" w-full h-[500px]" [src]=" this.utilsService.getUrl(banner.bannerUrl)">
                        
                        <div class=" fixed text-white text-center flex flex-col justify-center items-center">
                            <p class="  text-4xl max-md:text-3xl w-[25rem] max-md:w-[15rem] max-md:mt-20 text-center">{{banner.quote}}</p> <br>
                            <p class="text-lg max-md:text-xl max-md:w-[280px]" >{{banner.title}}</p>
                        </div>
                    </div>
                    
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>


</div>

<div class="w-[100%] overflow-hidden mt-20">
    <h1 class="text-3xl text-[#555] text-left mx-10 my-10">All New Trending Courses</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let banner of banners">
            <ng-template carouselSlide [id]="banner.priorityId">
                <div class=" caro   m-6 h-[400px]  cursor-pointer  text-center flex flex-col items-center justify-center"
                    (mouseover)="banner.showDescription = true" (mouseout)="banner.showDescription = false"
                    (click)="banner.showDescription = !banner.showDescription">
                    <div class=" flex flex-col justify-center items-center">
                        <img class="w-[300px]  h-[350px]" [src]=" this.utilsService.getUrl(banner.bannerUrl)">
                        <p *ngIf="banner.showDescription"
                            class="text-center shadow-lg shadow-indigo-500/40 flex flex-col justify-center text-[#555] fixed  border border-green-400 w-[250px] h-fit bg-white p-4 text-sm">
                            {{banner.description}}</p>
                    </div>
                    <div class="  text-[#201f1f] font-semibold py-2 w-full">
                        <p class="text-center  text-xl">{{banner.title}}</p>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="w-[100%] overflow-hidden mt-20">
    <h1 class="text-3xl text-[#555] text-left mx-10 my-10">Most liked by people</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let banner of banners_1">
            <ng-template carouselSlide [id]="banner.priorityId">
                <div class=" caro   m-6 h-[400px]  cursor-pointer  text-center flex flex-col items-center justify-center"
                    (mouseover)="banner.showDescription = true" (mouseout)="banner.showDescription = false"
                    (click)="banner.showDescription = !banner.showDescription">

                    <div class=" flex flex-col justify-center items-center">
                        <img class="w-[300px]  h-[350px]" [src]="this.utilsService.getUrl(banner.bannerUrl)">


                        <p *ngIf="banner.showDescription"
                            class="text-center shadow-lg shadow-indigo-500/40 flex flex-col justify-center text-[#555] fixed  border border-green-400 w-[250px] h-fit bg-white p-4 text-sm">
                            {{banner.description}}</p>
                    </div>
                    <div class=" text-[#201f1f] font-semibold font py-2 w-full">
                        <p class="text-center  text-xl">{{banner.title}}</p>
                    </div>
                </div>

            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="w-[100%] overflow-hidden my-20">
    <h1 class="text-3xl text-[#555] text-left mx-10 my-12">Customers reviews</h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container class="text-center" *ngFor="let customer of customers">
            <ng-template carouselSlide [id]="customer.id">
                <div class="mx-10  text-center flex flex-col items-center justify-center">
                    <img class="  w-[300px]   h-[200px]" [src]="this.utilsService.getUrl(customer.customerUrl)">
                    <p class="text-center mx-auto my-4 text-2xl">{{customer.name}}</p>
                    <p class="text-left text-[#555] text-sm">   {{customer.review}}</p>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>