
    <!-- footer -->

    <div class="footer bg-pink-900 items-center justify-center py-10">
        <div class=" mx-auto flex flex-wrap justify-around items-center ">
          
        <a class="mx-4 text-white font-bold" routerLink="about" >About Us</a>
        <a class="mx-4 text-white font-bold" routerLink="course">Courses</a>
        <a class="mx-4 text-white font-bold" routerLink="contact">Contact</a>
        <a class="mx-4 text-white font-bold" routerLink="">Back To Exampil</a>
            <a class=" text-white font-bold ">
                Connect with us :- +91 99930552237
            </a>
        </div>
        <div class=" w-[300px] mx-auto flex flex-wrap justify-around items-center ">
            <a class=" mt-4 text-white font-bold text-2xl" href=""> <i class="fa-brands fa-facebook"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-twitter"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-youtube"
                    style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
            <a class=" mt-4 text-white font-bold text-2xl" href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>

        </div>
        <div>
            <p class=" text-white text-center font-bold mt-4">&copy; 2022. SkillPill. All rights reserved.</p>
        </div>

    </div>
