/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "../src/assets/scss/variables";


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand';
    
  }


@mixin backgroundImg ($url,$repeat,$position,$size,$width,$height){
    background-image: url($url)  ;
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
    width: $width;
    height: $height;
}

// for path

::-webkit-scrollbar {
    width: 15px; 
    height: 15px;
    background-color: #f1f1f1; 
    
}

::-webkit-scrollbar-thumb {
    background-color: $primary_color; 
}


.caro{
    box-shadow:  12px 14px 6px 2px #dfdfdf;
    border-radius: 10px;

    img{
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
    }
}

// for carousel
.left, .right {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: $primary_color !important; 
    color: white; 
    // padding: 10px 15px !important; 
    border-radius: 50% !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50px !important;
    height: 50px !important;
    font-weight: 600;
  }

  .left:hover,.right:hover,
  .left:active,.right:active{
    opacity: 0.9;
  }
  
  .left {
    left: 30px;
    font-size: 1rem !important; 
  }
  
  .right {
    right: 30px;
    font-size: 1rem !important;  
  }

.header{
    transition: background-color 0.3s ease;
}

.header.sticky{
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: white;
}

.custom-bg-color {
    background-color: $primary_color;
    border: 2px solid $primary_color;
    transition: all 0.3s;
}

.custom-bg-color:hover {
    background-color: transparent;
    color: $primary_color;
}




.course-container{
    & span{
        color: $text_color;
    }
}

.counter-container{
    background-color: $secondary_color;
    margin-top: 7rem;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;

}

.heading {
    & h2{
        color: $heading_color;
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 400;
    }
    & p {
       color: $text_color;
    }
}


.contact-page{
    @include backgroundImg("https://www.skilpil.com/images/bg/bg-2.jpg",no-repeat ,center , cover,100% ,fit-content )
}

.circle{
    display:  flex;
    justify-content: space-around;
    width: 100px;
    & div{
        width: 20px;
        height: 20px;
        background-color: rgb(229, 130, 146);
        border-radius: 100%;
        opacity: 0.5;
    }
}


.input-handler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    // border: 2px solid $secondary_color;
    padding: 0;
}

.input-handler > input{
    border: 2px solid $secondary_color;
    width: 300px;
    height: 40px;
    text-align: center;
}

.background-attachment{
    @include backgroundImg("https://www.skilpil.com/images/bg/bg-3.jpg",no-repeat ,center , cover,100% ,fit-content );
     background-attachment: fixed;
}

